body {
    width: 275px;
    min-height:300px;
    margin: 10px;
    padding: 0;
    font-family: Verdana, Helvetica, sans-serif;
	font-size: 14px;
    line-height: 1.5em;
    background: #42D8CB;
}

#icon {
    vertical-align: middle;
}

#titleH2 {
    color: #833139;
    text-decoration: underline;
}

.panel {
    margin: 30px;
}

#output-message {
    font-size: 10px;
    bottom: 10px;
    position: absolute;
}

#refresh {
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 12px;
    padding: 1px 1px;
    background-color: #C8FFD1;
    border-radius: 4px;
    color: #0D2B51; 
}

img {
    width: 50px;
}
