body {
    height: 250px; 
    width: 240px;
    margin: 10px;
    padding: 0;
    font-family: Verdana, Helvetica, sans-serif;
	font-size: 14px;
    line-height: 1.5em;
    background: #42D8CB;
}

#icon {
    vertical-align: middle;
}

#titleH2 {
    color: #833139;
    text-decoration: underline;
}

.panel {
    margin: 30px;
}

#output-message {
    font-size: 10px;
    bottom: 10px;
    position: absolute;
}

/*
#refresh {
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 12px;
    padding: 1px 1px;
    background-color: #C8FFD1;
    border-radius: 4px;
    color: #0D2B51; 
}
*/

img {
    width: 50px;
}

#valid {
    color: #42d8cb;
    margin-left: 15%;
    background: seagreen;
    border: none;
    border-radius: 5px;
    font-size: 2.5em;
}

#fake {
    color: #42d8cb;
    margin-left: 10%;
    background: indianred;
    border: none;
    border-radius: 5px;
    font-size: 2.5em;
}

#buttons {
    margin-top: 10%;
}
